# Python
__pycache__/
*.pyc

# Django
db.sqlite3
media/
.dockerignore
.gitignore
.PROMPT.md
# Virtual env
venv/
.env
.opencode/
.ARCHITECTURE.md 
# React
node_modules/
dist/

# VSCode
.vscode/

# Test / Coverage
.coverage
coverage/
htmlcov/
.pytest_cache/
test_db.sqlite3
*.egg-info/
.eggs/
junit.xml

# Logs
logs/
*.log